<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <script src = "/static/index.js"></script>
     <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<form action="/login" method="post">
<div>
<h1>Encryption at Rest Application</h1>
<p>Username:</p>
<input type="text" name ="username">
<p>Password:</p>
<input type="password" name ="password">
<input type="submit" value="Login">
</div>
</form>
</body>
</html>